#page-landing {
    background: linear-gradient(329.54deg, #F5F5F5 0%, #DCDCDC 100%);
    height: 100vh;
    /* background: #DCDCDC; */
}

aside {
    width: 100%;
    height: 4rem;
    background-color: black;
    display: flex;
    align-items: center;
}

aside a {
    height: 4rem;
    width: 3rem;
    display: flex;
    align-items: center;
    border: none;
    margin-left: 3rem;
}

aside a img {
    height: 3rem;
    width: 3rem;
}

.header-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-titulo {
    height: auto;
    display: flex;
    align-items: center;
}

header img {
    height: 10rem;
    width: 10rem;
    margin-right: 3rem;
}

header strong {
    font-size: 3rem;
}

.status-container {
    width: 95%;
    height: 50px;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 50px;
}

.status-off {
    background-color: rgba(237, 72, 72, 0.838);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.status-on {
    background-color: rgba(50, 183, 50, 0.804);
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.bateria-off {
    display: flex;
    background-color: rgb(184, 182, 16);
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.bateria-on {
    display: flex;
    background-color: rgba(50, 183, 50, 0.804);
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.datas-container{
    margin-top: 50px;
    width: 95%;
    display: grid;
    grid-template-columns: 30% 70%;
    border-width: 2rem;
    border-color: red;
}

.tasks-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center ;
}

.cart-off {
    display: flex;
    width: 95%;
    height: 50px;
    background-color: rgba(166, 166, 166, 0.511);
    border-radius: 2rem;
    margin-top: 10px;
    align-items: center;
    justify-content: center
}

.cart-on {
    display: flex;
    width: 95%;
    height: 50px;
    background-color: rgba(50, 183, 50, 0.804);
    border-radius: 2rem;
    margin-top: 10px;
    align-items: center;
    justify-content: center
}

.components-label {
    height: 35rem;
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px 10px;
}

.components-label div {
    align-items: center;
    justify-content: center;
}

.status-button{
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
}

button:hover {
    background: #3d3d3d;
}
